@use "@/styles/helpers/reset";

@font-face {
  font-family: "Open Sans";
  src: url("@/fonts/OpenSans-Medium.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  font-family: "Open Sans", system-ui;
  background: #fff url("@/images/example.svg");
}